<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Harry Poter World</title>
</head>
<body>
<header>
    <div class="chargement"></div>
    <div class="download">Télécharger <img src="./assets/download.png"></div>
    <div class="download">Github <img src="./assets/github.png"></div>
    
</header>
<div class="container">
    <div class="item"></div>
</div>


</body>
<script src="script.js"></script>
</html>